
$linkColor: #000000; // #6D7C78;
$linkActiveColor: #3BAC9B; // #84DBDE;
$darkestGreenColor: #0A2B05;
$backgroundColor: #FFFFFF;
$lightGrey: #D9E5E3;
$errorColor: #FF959F;
$messageBlue: #5297C3;
$messageGreen: $linkActiveColor;
$borderRadius: 4px;